<html>
  <head>{{content_for_header}}  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/mjLntBTvsS8EPxmsW-NbEg" async></script>
</head>
  <body>
      {{ content_for_layout }}
      <div style="font-size: 38px; text-align: center; padding: 200px 50px; font-family: sans-serif;">
          This page will not show in your store, it is only used as a content editor for Outsmartly.
      </div>
  </body>
</html>
