<div class="p404-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ 'general.404.title' | t }}</h1>
        {% comment %}<p>{{ 'general.404.subtext_html' | t }}</p>{% endcomment %}
        <div class="p404-wrapper__action">
          <a href="/" class="btn btn--yellow">Back to shop</a>
        </div>
      </div>
    </div>
  </div>

</div>
