<div class="new-contact info-page">
  <div class="container">    
    
    {% section 'contact-hero' %}
    {% section 'contact-text' %}
    {% section 'contact-faq' %}
    {% section 'contact-button' %}
  </div>  
</div>