<div class="prod-rev">
  <div class="container">
    <h2>
      {{ page.title }}
    </h2>
    {% if shop.metafields.okendo.WidgetPreRenderBodyStyleTags != blank %}{{ shop.metafields.okendo.WidgetPreRenderBodyStyleTags }}{% endif %}<div data-oke-widget></div>
  </div>
</div>