<div class="info-page">

  <div class="container">
    
    <div class="rte">
      {{ page.content }}
      {% section 'care-section-left'%}
    
      {% section 'care-section-right'%}
    
      {% section 'care-section-left-2'%}
    
      {% section 'care-section-right-2'%}
      
      {% section 'care-section-left-3'%}
	  
	  {% section 'care-section-right-3'%}

	  
    </div>

  </div> 
 
</div>

